.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 0px 30px;
}
.header-left {
  display: flex;
  align-items: center;
}
.icon-header {
  width: 50px;
}
.header-left-text {
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding-left: 10px;
}
.header-right-text {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
